@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
         url(/fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
         url(/fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
  }

a{text-decoration: none; font-weight: bold; color: #222;}
.btnArea{text-align: center; font-family: 'Noto sans'; }
.btnArea button{width: 50px; padding: 5px;margin-right: 5px; border: 0; 
                border-radius: 5px; cursor: pointer; font-weight: bold; color: #fff;}
.btnArea .btnBack{background: #6495ed;}
.btnArea .btnForward{background: #add8e6;}
.btnArea .btnHome{background: #f0e68c;}
.btnArea .btnHome{width: 100px; white-space: nowrap;}
.btnArea button:first-child{margin-left: 0;}
.btnArea button:last-child{margin-right: 0;}
.linkArea{display: flex; justify-content: space-evenly; align-items: center; 
          white-space: nowrap;  padding-inline-start: 0; box-sizing: border-box;
}
.linkArea li{height: 20px; padding: 10px; list-style: none; border-radius: 4px; background: #90ee90;}
.linkArea li:nth-child(2){background: #ee82ee;}
.linkArea li:nth-child(3){background: #4169e1;}
.linkArea li:last-child{background: #ffd700;}
.main{display: none;}